@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Galmuri11", sans-serif;

  height: 100vh;
  background: url("/background.png") no-repeat;
  background-size: cover;
}

button:hover {
  cursor: pointer;
}
